{% extends 'interface_bootstrap.html' %}
{% load static %}
{% block title %}
	Création de compte Admnistrateur
{% endblock %}
{% block content %}
	<!-- <h2>Créer un compte administrateur</h2>
	<form method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit">Créer un compte</button>
	</form> -->



	<div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block py-5">
                        <img src="https://static.wikia.nocookie.net/logopedia/images/2/2d/ORTM_%28Madagascar%29_Logo.png/revision/latest?cb=20211122094706">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Créer un compte!</h1>
                            </div>
                            <form class="user" method="POST">
                            	{% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="username"
                                        placeholder="First Name" name="username" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address" name="email" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="password1" placeholder="Password" name="password1" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="password2" placeholder="Repeat Password" name="password2" required>
                                    </div>
                                </div>
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                                {% endfor %}
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Enregistrer" />
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}